/* Game animations */
.scale {
	animation: scaleframes linear 1s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: scaleframes linear 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: scaleframes linear 1s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
}

@keyframes scaleframes {
	0% {
		transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
	}
	10% {
		transform: rotate(-3deg) scaleX(0.90) scaleY(0.90);
	}
	20% {
		transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
	}
	30% {
		transform: rotate(3deg) scaleX(0.70) scaleY(0.70);
	}
	40% {
		transform: rotate(-3deg) scaleX(0.60) scaleY(0.60);
	}
	50% {
		transform: rotate(3deg) scaleX(0.50) scaleY(0.50);
	}
	60% {
		transform: rotate(-3deg) scaleX(0.50) scaleY(0.50);
	}
	70% {
		transform: rotate(3deg) scaleX(0.60) scaleY(0.60);
	}
	80% {
		transform: rotate(-3deg) scaleX(0.70) scaleY(0.70);
	}
	90% {
		transform: rotate(3deg) scaleX(0.80) scaleY(0.80);
	}
	100% {
		transform: rotate(0deg) scaleX(0.90) scaleY(0.90);
	}
}

@-moz-keyframes scaleframes {
	0% {
		-moz-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
	}
	10% {
		-moz-transform: rotate(-3deg) scaleX(0.90) scaleY(0.90);
	}
	20% {
		-moz-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
	}
	30% {
		-moz-transform: rotate(3deg) scaleX(0.70) scaleY(0.70);
	}
	40% {
		-moz-transform: rotate(-3deg) scaleX(0.60) scaleY(0.60);
	}
	50% {
		-moz-transform: rotate(3deg) scaleX(0.50) scaleY(0.50);
	}
	60% {
		-moz-transform: rotate(-3deg) scaleX(0.50) scaleY(0.50);
	}
	70% {
		-moz-transform: rotate(3deg) scaleX(0.60) scaleY(0.60);
	}
	80% {
		-moz-transform: rotate(-3deg) scaleX(0.70) scaleY(0.70);
	}
	90% {
		-moz-transform: rotate(3deg) scaleX(0.80) scaleY(0.80);
	}
	100% {
		-moz-transform: rotate(0deg) scaleX(0.90) scaleY(0.90);
	}
}

@-webkit-keyframes scaleframes {
	0% {
		-webkit-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
	}
	10% {
		-webkit-transform: rotate(-3deg) scaleX(0.90) scaleY(0.90);
	}
	20% {
		-webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
	}
	30% {
		-webkit-transform: rotate(3deg) scaleX(0.70) scaleY(0.70);
	}
	40% {
		-webkit-transform: rotate(-3deg) scaleX(0.60) scaleY(0.60);
	}
	50% {
		-webkit-transform: rotate(3deg) scaleX(0.50) scaleY(0.50);
	}
	60% {
		-webkit-transform: rotate(-3deg) scaleX(0.50) scaleY(0.50);
	}
	70% {
		-webkit-transform: rotate(3deg) scaleX(0.60) scaleY(0.60);
	}
	80% {
		-webkit-transform: rotate(-3deg) scaleX(0.70) scaleY(0.70);
	}
	90% {
		-webkit-transform: rotate(3deg) scaleX(0.80) scaleY(0.80);
	}
	100% {
		-webkit-transform: rotate(0deg) scaleX(0.90) scaleY(0.90);
	}
}

.poof {
	animation: poofframes linear 1s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: poofframes linear 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: poofframes linear 1s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
}

@keyframes poofframes {
	0% {
		transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
	}
	10% {
		transform: rotate(-3deg) scaleX(0.90) scaleY(0.90);
	}
	20% {
		transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
	}
	30% {
		transform: rotate(3deg) scaleX(0.70) scaleY(0.70);
	}
	40% {
		transform: rotate(-3deg) scaleX(0.60) scaleY(0.60);
	}
	50% {
		transform: rotate(3deg) scaleX(0.50) scaleY(0.50) ;
	}
	60% {
		transform: rotate(-3deg) scaleX(0.40) scaleY(0.40);
	}
	70% {
		transform: rotate(3deg) scaleX(0.30) scaleY(0.30);
	}
	80% {
		transform: rotate(-3deg) scaleX(0.20) scaleY(0.20);
	}
	90% {
		transform: rotate(3deg) scaleX(0.10) scaleY(0.10);
	}
	100% {
		transform: rotate(0deg) scaleX(0.00) scaleY(0.00);
	}
}

@-moz-keyframes poofframes {
	0% {
		-moz-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
	}
	10% {
		-moz-transform: rotate(-3deg) scaleX(0.90) scaleY(0.90);
	}
	20% {
		-moz-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
	}
	30% {
		-moz-transform: rotate(3deg) scaleX(0.70) scaleY(0.70);
	}
	40% {
		-moz-transform: rotate(-3deg) scaleX(0.60) scaleY(0.60);
	}
	50% {
		-moz-transform: rotate(3deg) scaleX(0.50) scaleY(0.50);
	}
	60% {
		-moz-transform: rotate(-3deg) scaleX(0.40) scaleY(0.40);
	}
	70% {
		-moz-transform: rotate(3deg) scaleX(0.30) scaleY(0.30);
	}
	80% {
		-moz-transform: rotate(-3deg) scaleX(0.20) scaleY(0.20);
	}
	90% {
		-moz-transform: rotate(3deg) scaleX(0.10) scaleY(0.10);
	}
	100% {
		-moz-transform: rotate(0deg) scaleX(0.00) scaleY(0.00) ;
	}
}

@-webkit-keyframes poofframes {
	0% {
		-webkit-transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
	}
	10% {
		-webkit-transform: rotate(-3deg) scaleX(0.90) scaleY(0.90);
	}
	20% {
		-webkit-transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
	}
	30% {
		-webkit-transform: rotate(3deg) scaleX(0.70) scaleY(0.70);
	}
	40% {
		-webkit-transform: rotate(-3deg) scaleX(0.60) scaleY(0.60);
	}
	50% {
		-webkit-transform: rotate(3deg) scaleX(0.50) scaleY(0.50);
	}
	60% {
		-webkit-transform: rotate(-3deg) scaleX(0.40) scaleY(0.40);
	}
	70% {
		-webkit-transform: rotate(3deg) scaleX(0.30) scaleY(0.30);
	}
	80% {
		-webkit-transform: rotate(-3deg) scaleX(0.20) scaleY(0.20);
	}
	90% {
		-webkit-transform: rotate(3deg) scaleX(0.10) scaleY(0.10);
	}
	100% {
		-webkit-transform: rotate(0deg) scaleX(0.00) scaleY(0.00);
	}
}
