@font-face {
	font-family: 'Nova Oval';
	font-style: normal;
	font-weight: 400;
	src: local('Nova Oval'),
		local('NovaOval'),
		url(../fonts/nova-oval.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: #fff;
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Nova Oval';
	font-style: normal;
	font-weight: 400;
	overflow: hidden;
}

body > p {
	display:none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.clearfix {
	clear:both;
}


.hr {
	border-top: 1px solid #777;
	padding-top: 5px;
	margin-top: 5px;
	clear: both;
	height: 0;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}

.ui-helper-clearfix:after {
	clear: both;
}

.ui-helper-clearfix {
	min-height: 0;
}

/* Header */

.ui > header {
	width: 220px;
	height: 112px;
	background: transparent url(../images/ui/header.png) no-repeat;
	left: 0;
	z-index: 9999;
	top: 0;
	position: fixed;
}

.ui > header .cityavatar {
	width: 64px;
	height: 64px;
	background-color: transparent;
	background-repeat: no-repeat;
	margin: 10px 15px;
}

.ui > header .cityfame {
	width: 142px;
	height: 19px;
	position: absolute;
	left: 8px;
	bottom: 7px;
	z-index: 9999;
	padding: 0;
}

.ui > header .cityname {
	position: absolute;
	top: 5px;
	font-family: 'Nova Oval';
	font-size: 18px;
	left: 84px;
	width: 124px;
	text-align: center;
	color: #bbb;
	text-transform: uppercase;
}

.ui header .citylevel {
	color: #bbb;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	font-family: 'Nova Oval';
	right: 20px;
	top: 22px;
}

.ui header .cityprestige {
	color: #bbb;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	font-family: 'Nova Oval';
	right: 7px;
	width: 60px;
	bottom: 5px;
	width: 54px;
}

.ui .cityfame > span {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #472e18), color-stop(49%, #ffffff), color-stop(100%, #25140a));
	background: -moz-linear-gradient(top,#472e18 0%, #ffffff 49%, #25140a 100%);
	background: -webkit-linear-gradient(top,#472e18 0%, #ffffff 49%, #25140a 100%);
	background: linear-gradient(top,#472e18 0%, #ffffff 49%, #25140a 100%);
	height: 19px;
	display: inline-block;
	color: #fff;
	font-size: 11px;
	line-height: 20px;
}

header .top-panel {
	background: transparent url(../images/ui/top-panel.jpg) no-repeat;
	width: 406px;
	height: 30px;
	position: absolute;
	top: 0;
	left: 220px;
	padding: 10px 18px;
}

header .top-panel span {
	height: 30px;
	width: 30px;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
}

/* Footer */

.ui > footer {
	width: 584px;
	height: 100px;
	background: transparent url(../images/ui/bottom.png) no-repeat;
	position: fixed;
	bottom: 0;
	left: 25%;
	font-family: 'Nova Oval';
	z-index: 9999;
}

.ui > footer .toolbar {
	position: absolute;
	bottom: 16px;
	left: 60px;
	height: 40px;
	width: 480px;
}

.ui > footer .toolbar > div {
	width: 40px;
	height: 40px;
	margin-right: 12.5px;
	cursor: pointer;
	float: left;
}

/* Main */

.ui {
	width: 1920px;
	height: 1080px;
	position: relative;
}

.ui .game {
	position: relative;
	z-index: 99;
}

.game .building {
	width: 140px;
	height: 125px;
	cursor: pointer;
}

.game .building .notification {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
}

.game .building .notification.error {
	background: transparent url(../images/ui/error_small.png) no-repeat;
}

.game .building .notification.paused {
	background: transparent url(../images/ui/pause_small.png) no-repeat;
}

.game .slots {
	position:absolute;
}

.game {
	width: 1920px;
	height: 1080px;
}

.smalldesc {
	font-size: 12px;
	font-family: 'Nova Oval';
	vertical-align: middle;
	line-height: 20px;
	display: inline-block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.black .smalldesc {
	border-bottom: 1px solid #333;
}

.tipsy .smalldesc {
	font-size: 12px;
	border: 0 !important;
	padding: 0;
	margin: 0;
}

.smallinfo {
	font-size: 10px;
	line-height: 20px;
	display: block;
}

.smallinfo img,
.ui dd img {
	vertical-align: middle;
}

.ui dd img {
	margin-left: 4px;
}

.buildinginfo {
	text-transform: uppercase;
	font-size: 16px;
}

/* Panels */

.ui .panel {
	position: fixed;
	top: 30%;
	left: 30%;
	z-index: 99999;
	background-color: #fff;
	min-width: 220px;
	max-width: 300px;
	min-height: 100px;
	max-height: 400px;
	color: #444;
	padding: 10px;
	box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.ui .panel.black {
	background-color: #000;
}

.ui .panel header {
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Nova Oval';
	margin-bottom: 10px;
	cursor: move;
}

.ui .panel .contents {
	font-size: 12px;
}

.ui .panel footer {
	border-top: 1px solid #777;
	padding-top: 10px;
	margin-top: 10px;
}

.panel .toolbar {
	margin-top: 10px;
}

.ui .panel a {
	color: #444;
}

.panel .toolbar .btn {
	border: 1px solid #908c68;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px 10px 10px 10px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	color: #fff;
	background-color: #a9a588;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a9a588), to(#8e865b));
	background-image: -webkit-linear-gradient(top, #a9a588, #8e865b);
	background-image: -moz-linear-gradient(top, #a9a588, #8e865b);
	background-image: linear-gradient(to bottom, #a9a588, #8e865b);
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.panel .toolbar .btn:hover {
	border: 1px solid #767255;
	background-color: #938e6b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#938e6b), to(#6f6947));
	background-image: -webkit-linear-gradient(top, #938e6b, #6f6947);
	background-image: -moz-linear-gradient(top, #938e6b, #6f6947);
	background-image: linear-gradient(to bottom, #938e6b, #6f6947);
}

.panel .toolbar .btn.iblock {
	display: inline-block;
	width: auto;
}

.panel .contents .left {
	width: 590px;
	float: left;
	position: relative;
}

.panel .contents div.right {
	display: none;
	float: left;
	width: 310px;
	margin-left: 10px;
}

.panel fieldset {
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.panel fieldset legend {
	padding: 0 10px;
}

.panel .b-name {
	font-family: 'Nova Oval';
	font-size: 26px;
	margin: 0 0 10px 0;
}

.panel header .btn {
	width: 24px;
	height: 24px;
	display: block;
	float: right;
	cursor: pointer;
	margin-left: 8px;
}

.panel .footer .btn {
	width: 46px;
	height: 46px;
	display: block;
	float: left;
	cursor: pointer;
	margin-right: 8px;
}

.panel table {
	width: 100%;
	padding: 0;
	border-spacing: 1px;
	border-collapse: separate;
}

.ui .panel .contents dl,
.start dl {
	margin: 10px auto;
}

.ui .panel .contents dt,
.start dt {
	float: left;
	text-align: right;
	width: 45%;
	line-height: 20px;
	margin-bottom: 5px;
}

#panel-advisor .contents dd {
	width: auto;
}

.ui .panel .contents dd,
.start dd {
	margin-left: 50%;
	line-height: 20px;
	margin-bottom: 5px;
	width: 140px;
}

/* Building panel */

#panel-building {
	opacity: 0.8;
}

/* Help panel */

#panel-help {
	max-width: 800px;
	width: 800px;
	height: 400px;
	max-height: 400px;
}

/* Settings panel */

#panel-settings {
	max-width: 400px;
	width: 400px;
	height: 300px;
	max-height: 300px;
}

#panel-settings .ui-tabs-panel > div {
	padding: 20px;
}

.ui .panel .ui-control {
	box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px 10px;
}

.ui-control.on {
	background-color: #c0f5d3;
}

.ui-control.off {
	background-color: #f5c8c0;
}

/* Worldmap panel */

#panel-world {
	max-width: 1100px;
	max-height: 534px;
}

/* World Trades panel */

#panel-trades {
	width: 700px;
	max-width: 700px;
	max-height: 460px;
	height: 460px;
}

table.mercenaries td:nth-child(3) {
	width: 20%;
	text-align: right;
}

/* City Advisor panel */

#panel-advisor {
	width: 750px;
	max-width: 750px;
	height: 520px;
	max-height: 520px;
}

#panel-advisor img.avatar {
	margin-right: 10px;
	margin-top: 10px;
}

#tab-production {
	overflow: auto;
	height: 460px;
}

.panel .army-recruiter,
.panel .navy-recruiter {
	width: 600px;
	float: right;
	padding: 10px 0 0 0;
	height: 410px;
	overflow: auto;
}

.panel .cities-list {
	overflow: auto;
	max-height: 415px;
}

.panel .army-list,
.panel .navy-list {
	float: left;
	width: 140px;
	padding: 10px 0 0 0;
}

.panel .army-recruiter fieldset,
.panel .navy-recruiter fieldset {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	width: 176px;
	position: relative;
}

.panel .army-recruiter fieldset:nth-child(3),
.panel .army-recruiter fieldset:nth-child(6),
.panel .navy-recruiter fieldset:nth-child(3),
.panel .navy-recruiter fieldset:nth-child(6) {
	margin-right:0 !important;
}

.panel .army-recruiter fieldset > img,
.panel .navy-recruiter fieldset > img {
	float: right;
	cursor: pointer;
	bottom: 10px;
	right: 10px;
	position: absolute;
}

.panel .army-recruiter fieldset .info,
.panel .navy-recruiter fieldset .info {
	float: right;
	width: 100px;
	margin-left: 10px;
}

.panel .army-recruiter fieldset .cost,
.panel .navy-recruiter fieldset .cost {
	float: left;
	width: 60px;
}

.panel ul.advices {
	max-height: 216px;
	display: block;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.panel ul.advices li {
	line-height: 30px;
	padding-left: 50px;
	background: transparent url(../images/ui/check.png) no-repeat left center;
}

.panel .hired-mercenaries-list {
	max-height: 370px;
	overflow: auto;
}

.panel .bm-quantity {
	width: 60px;
}
/* City Storage panel */

#panel-storage {
	max-width: 756px;
	max-height: 640px;
}

.panel .storage-item {
	width: 80px;
	height: 70px;
	float: left;
	text-align: center;
	margin: 0 4px 4px 0;
	position: relative;
	-webkit-box-shadow: inset 0 0 3px 0 rgba(20, 20, 20, 0.75);
	-moz-box-shadow: inset 0 0 3px 0 rgba(20, 20, 20, 0.75);
	box-shadow: inset 0 0 3px 0 rgba(20, 20, 20, 0.75);
}

.panel .storage-item .title {
	width: 100%;
	display: inline-block;
	width: 100%;
	padding-top: 4px;
}

.panel .storage-item span.amount {
	position: absolute;
	bottom: 0;
	right: 4px;
}

/* City info panel */

#panel-city {
	width: 460px;
	max-width: 460px;
}

#panel-city .ui-tabs-panel {
	padding: 0 10px;
}

/* City Builder panel */

#panel-buildings {
	max-width: 940px;
	max-height: 582px;
	height: 582px;
	width: 590px;
}

#panel-buildings.expanded {
	width: 910px !important;
}

.panel .building-item .building-info .btn {
	float: none;
	display: block;
	border: 0;
	background-color: #777;
	border-radius: 0;
	margin-top: 5px;
}

.panel .building-item {
	width: 140px;
	float: left;
	text-align: center;
	margin: 0 10px 10px 0;
	position: relative;
	-webkit-box-shadow: inset 0 0 4px 0 rgba(0, 155, 70, 0.75);
	-moz-box-shadow: inset 0 0 4px 0 rgba(0, 155, 70, 0.75);
	box-shadow: inset 0 0 4px 0 rgba(0, 155, 70, 0.75);
	cursor: pointer;
	opacity: 0.7;
}

.panel .building-item:nth-child(4),
.panel .building-item:nth-child(8),
.panel .building-item:nth-child(12),
.panel .building-item:nth-child(16),
.panel .building-item:nth-child(20),
.panel .building-item:nth-child(24) {
	margin-right: 0;
}

.panel .building-item.active {
	opacity: 1 !important;
}
.panel .building-item .building-info {
	display: none;
	border-top: 1px solid #777;
}

.panel .building-item.disabled {
	-webkit-box-shadow: inset 0 0 4px 0 rgba(186, 105, 74, 0.75);
	-moz-box-shadow: inset 0 0 4px 0 rgba(186, 105, 74, 0.75);
	box-shadow: inset 0 0 4px 0 rgba(186, 105, 74, 0.75);
}

.panel .building-item .title {
	padding-top: 6px;
	display: inline-block;
}

.panel .building-item img.building {
	width: 140px;
	height: 125px;
}

img.avatar {
	float: right;
}

p {
	margin-top: 0;
}

/* Start window */

section.start {
	z-index: 99999;
	opacity: 0.95;
	background-color: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
}

section.start fieldset {
	margin: 10px auto 0 auto;
	width: 300px;
	border: 1px solid #777;
}

section.start fieldset legend {
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	border: 1px solid #777;
}

.start input[type=text],
.start select {
	border: 1px solid #777;
	background-color: #000;
	color: #fff;
	padding: 5px 10px;
}
.start select {
	width: 122px;
}
.start input[type=text] {
	width: 100px;
}
.start .button {
	padding: 5px 10px;
	border: 1px solid #777;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-top:5px;
}

.start .avatar-select {
	width: 64px;
	height: 64px;
	overflow: hidden;
}

.start dt {
	line-height: 28px;
}

.start dl {
	width: 250px;
}

/* Notifications */

.notifications {
	position: fixed;
	top: 10px;
	right: 10px;
	width: 340px;
	z-index: 99999;
}

.notifications .notty {
	padding: 10px;
	margin-bottom: 10px;
	color: #444;
	font-size: 12px;
	background-color: #fff;
	box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position: relative;
	overflow: hidden;
	opacity: 0.8;
}

.notifications .notty.error {
	background-color: #f5c0c0;
}

.notifications .notty.other {
	background-color: #c0c5f5;
}

.notifications .notty .hide {
	position: absolute;
	display: inline-block;
	height: 24px;
	width: 24px;
	right: 0;
	top: 0;
	padding: 0;
	cursor: pointer;
	display: none;
	background: url(../images/ui/close.png) no-repeat;
	margin: 6px;
}

.notifications .notty .right,
.notifications .notty .left {
	width: 79%;
	height: 100%;
	float: left;
}

.notifications .notty .time {
	font-size: 9px;
	position: relative;
	float: right;
}

.notifications .notty .right .time {
	margin-left: 10px;
}

.notifications .notty .left {
	width: 20%;
}

.notifications .notty .right .inner {
	padding-left: 10px;
}

.notifications .notty .left .img:after {
	content: '';
	background: #000;
	background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.6), transparent);
	background: -moz-linear-gradient(0% 100% 90deg, transparent, rgba(0, 0, 0, 0.6), transparent);
	width: 1px;
	height: 50px;
	position: absolute;
	right: -10px;
}

.notifications .notty .left .img {
	width: 46px;
	background-size: auto 100%;
	height: 46px;
	position: relative;
}

.notifications .notty:after {
	content: "."; 
	visibility: hidden; 
	display: block; 
	clear: both; 
	height: 0; 
	font-size: 0;
}

.notifications .notty h2 {
	margin: 0 0 5px 0;
	font-size: 14px;
	color: #444;
	text-transform: uppercase;
}

/* Misc */

input[type=range] {
    -webkit-appearance: none;
    width: 96%;
    padding: 20px 0;
    margin: 0;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 96%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #444;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 96%;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #444;
}

input[type=range]:-moz-focusring{
    outline: 1px solid #fff;
    outline-offset: -1px;
}

p.title,
p span.title {
	font-size: 14px;
}

p.description,
p span.description {
	font-size: 10px;
}

.ui-tabs-panel > span {
	display: inline-block;
	padding: 4px 10px;
}

dl.nomg {
	margin: 0 !important;
}

td.icon {
	width: 60px;
}

.progress {
	width: 300px;
	height: 12px;
	-webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.75);
	box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.75);
	border-radius: 3px;
}

.progress .bar {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #472e18), color-stop(49%, #ffffff), color-stop(100%, #25140a));
	background: -moz-linear-gradient(top,#472e18 0%, #ffffff 49%, #25140a 100%);
	background: -webkit-linear-gradient(top,#472e18 0%, #ffffff 49%, #25140a 100%);
	background: linear-gradient(top,#472e18 0%, #ffffff 49%, #25140a 100%);
	display: inline-block;
	height: 12px;
	border-radius: 3px;
}

.progress .bar.good {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555), color-stop(49%, #00b332), color-stop(100%, #173e09));
	background: -moz-linear-gradient(top, #555 0%, #00b332 49%, #173e09 100%);
	background: -webkit-linear-gradient(top, #555 0%, #00b332 49%, #173e09 100%);
	background: linear-gradient(top, #555 0%, #00b332 49%, #173e09 100%);
}

.progress .bar.bad {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555), color-stop(49%, #ffa136), color-stop(100%, #963000));
	background: -moz-linear-gradient(top, #555 0%, #ffa136 49%, #963000 100%);
	background: -webkit-linear-gradient(top, #555 0%, #ffa136 49%, #963000 100%);
	background: linear-gradient(top, #555 0%, #ffa136 49%, #963000 100%);
}

.progress .bar.vbad {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555), color-stop(49%, #f10000), color-stop(100%, #8b0000));
	background: -moz-linear-gradient(top, #555 0%, #f10000 49%, #8b0000 100%);
	background: -webkit-linear-gradient(top, #555 0%, #f10000 49%, #8b0000 100%);
	background: linear-gradient(top, #555 0%, #f10000 49%, #8b0000 100%);
}

.progress .bar.vgood {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555), color-stop(49%, #00abff), color-stop(100%, #003498));
	background: -moz-linear-gradient(top, #555 0%, #00abff 49%, #003498 100%);
	background: -webkit-linear-gradient(top, #555 0%, #00abff 49%, #003498 100%);
	background: linear-gradient(top, #555 0%, #00abff 49%, #003498 100%);
}

.bldg-tabs {
	padding: 10px 0 0 0;
	overflow: auto;
	height: 508px;
}

.tabs > ul > li {
	float: left;
}

.tabs > div {
	border-top: 1px solid #ccc;
}
.tabs > ul > li > a {
	color: #666;
	text-decoration: none;
	padding: 6px 10px;
	display: block;
}

.ui-tabs-panel > p, 
.ui-tabs-panel > div > p, 
#panel-storage p {
	margin-top: 10px;
}

.tabs ul {
	margin: 0 20px;
}

.tabs ul li.ui-tabs-active {
	background-color: #555;
}

.tabs ul li.ui-tabs-active a {
	color: #fff !important;
}

.tabs table td {
	text-align: left;
	vertical-align: middle;
	padding: 4px 10px;
}

.tabs table thead td,
.tabs table tfoot td {
	background-color: #555;
	color: #fff;
	padding: 10px;
}

table tr.notify {
	background-color: #f5c0c0;
}
.tabs table td.center {
	text-align: center;
}

.tabs table td img,
dd img,
dt img {
	vertical-align: middle;
}

table tbody tr:hover {
	background-color: #8A8955;
	color: #fff;
	opacity: 0.9;
}

table tr:hover td:last-child a {
	background-color: #8A8955 !important;
	border: 1px solid #fff !important;
}

table tr td:last-child a {
	border: 1px solid #908c68;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 10px;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	color: #fff !important;
	background-color: #a9a588;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a9a588), to(#8e865b));
	background-image: -webkit-linear-gradient(top, #a9a588, #8e865b);
	background-image: -moz-linear-gradient(top, #a9a588, #8e865b);
	background-image: linear-gradient(to bottom, #a9a588, #8e865b);
	text-transform: uppercase;
	text-align: center;

}

table tr td a.disabled {
	display: none;
}

.rankings-list {
	height: 300px;
	overflow: auto;
}

table tr td.large {
	width: 45%;
}

table tr td.medium {
	width: 25%;
}

.ui-tabs-panel .contents {
	max-height: 340px;
	overflow: auto;
}

a.disabled {
	background-color: #777;
	color: #502d13;
	cursor: default;
}

.ui .console {
	background: transparent url(../images/ui/console.jpg) no-repeat;
	height: 137px;
	width: 494px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	font-size: 11px;
	color: #777;
	font-size: 12px;
	opacity: 0.8;
	display: none;
}

.ui .console:hover {
	opacity: 0.9;
}

.avatar-select-container {
	position: relative;
}

.avatar-select-container .scrollbar {
	position: absolute;
	right:40px;
	top: 8px;
}

.console .scrollbar {
	position: absolute;
	right:14px;
	top: 20px;
}

.scrollbar .up,
.scrollbar .down {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.scrollbar .up {
	background: transparent url(../images/ui/up.png) no-repeat;
	margin-bottom: 5px;
}

.scrollbar .down {
	background: transparent url(../images/ui/down.png) no-repeat;
}

.console .separator {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #301c11;
	height: 1px;
}

.ui .console .contents {
	margin: 18px 40px 20px 16px;
	overflow: hidden;
	height: 100px;
	width: 434px;
}

.ui .console div.error {
	color: #aa4600;
}

/* Tipsy */

.tipsy {
	font-family: 'Nova Oval';
	font-size: 12px;
	position: absolute;
	padding: 5px;
	z-index: 100000;
}

.tipsy-inner {
	background-color: #fff;
	color: #000;
	max-width: 280px;
	padding: 10px;
	text-align: left;
}

.tipsy-inner {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.tipsy-inner {
	box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
}

.tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #fff;
}

.tipsy-arrow-n {
	border-bottom-color: #fff;
}

.tipsy-arrow-s {
	border-top-color: #fff;
}

.tipsy-arrow-e {
	border-left-color: #fff;
}

.tipsy-arrow-w {
	border-right-color: #fff;
}

.tipsy-n .tipsy-arrow {
	top: 0px;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.hidden {
	display: none;
}
