/* Top panel with resources */

.top-panel span.coins {
	background: transparent url(../images/ui/topbar/coins.png) no-repeat left center;
}

.top-panel span.stones {
	background: transparent url(../images/ui/topbar/stones.png) no-repeat left center;
}

.top-panel span.woodplanks {
	background: transparent url(../images/ui/topbar/woodplanks.png) no-repeat left center;
}

.top-panel span.meat {
	background: transparent url(../images/ui/topbar/meat.png) no-repeat left center;
}

.top-panel span.wheat {
	background: transparent url(../images/ui/topbar/wheat.png) no-repeat left center;
}

.top-panel span.ironores {
	background: transparent url(../images/ui/topbar/ironores.png) no-repeat left center;
}

.top-panel span.weapons {
	background: transparent url(../images/ui/topbar/weapons.png) no-repeat left center;
}

.top-panel span.bread {
	background: transparent url(../images/ui/topbar/bread.png) no-repeat left center;
}

.top-panel span.wood {
	background: transparent url(../images/ui/topbar/wood.png) no-repeat left center;
}

.top-panel span.iron {
	background: transparent url(../images/ui/topbar/iron.png) no-repeat left center;
}

.top-panel span.cattle {
	background: transparent url(../images/ui/topbar/cattle.png) no-repeat left center;
}

/* Bottom panel with game actions */

footer .do-trades {
	background: transparent url(../images/ui/toolbar/trades.png) no-repeat;
}

footer .do-storage {
	background: transparent url(../images/ui/toolbar/storage.png) no-repeat;
}

footer .do-build {
	background: transparent url(../images/ui/toolbar/buildings.png) no-repeat;
}

footer .do-advisor {
	background: transparent url(../images/ui/toolbar/advisor.png) no-repeat;
}

footer .do-worldmap {
	background: transparent url(../images/ui/toolbar/worldmap.png) no-repeat;
}

footer .do-rankings {
	background: transparent url(../images/ui/toolbar/rankings.png) no-repeat;
}

footer .do-options {
	background: transparent url(../images/ui/toolbar/options.png) no-repeat;
}

footer .do-restart {
	background: transparent url(../images/ui/toolbar/restart.png) no-repeat;
}

footer .do-help {
	background: transparent url(../images/ui/toolbar/help.png) no-repeat;
}

.panel header .btn.close {
	background: transparent url(../images/ui/close.png) no-repeat;
}

.panel .footer .btn.start {
	background: transparent url(../images/ui/icon_start_production.png) no-repeat;
}

.panel .footer .btn.pause {
	background: transparent url(../images/ui/icon_stop_production.png) no-repeat;
}

.panel .footer .btn.demolish {
	background: transparent url(../images/ui/icon_demolish.png) no-repeat;
}

.panel .footer .btn.upgrade {
	background: transparent url(../images/ui/icon_upgrade.png) no-repeat;
}

.panel .footer .btn.help {
	background: transparent url(../images/ui/icon_help.png) no-repeat;
	float: right;
	margin-right: 0;
}

.panel .worldmap {
	width: 972px;
	height: 501px;
	background: transparent url(../images/ui/worldmap.jpg) no-repeat;
	position: relative;
}

.panel .worldmap .city {
	position: absolute;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.panel .worldmap .city.c1 {
	background: transparent url(../images/ui/city1.png) no-repeat;
}

.panel .worldmap .city.c2 {
	background: transparent url(../images/ui/city2.png) no-repeat;
}

.panel .worldmap .city.c3 {
	background: transparent url(../images/ui/city3.png) no-repeat;
}

.panel .worldmap .city.c4 {
	background: transparent url(../images/ui/city4.png) no-repeat;
}

.panel .worldmap .city.c5 {
	background: transparent url(../images/ui/city5.png) no-repeat;
}

.panel .worldmap .city.c6 {
	background: transparent url(../images/ui/city6.png) no-repeat;
}

.panel .worldmap .city.c7 {
	background: transparent url(../images/ui/city7.png) no-repeat;
}

.game {
	background: #000 url(../images/ui/citymap.jpg) no-repeat;
}
