.top-panel span.coins {
	background: transparent url(../images/resources/coins_medium.png) no-repeat left center;
}

.top-panel span.stones {
	background: transparent url(../images/resources/stones_medium.png) no-repeat left center;
}

.top-panel span.flour {
	background: transparent url(../images/resources/flour_medium.png) no-repeat left center;
}

.top-panel span.meat {
	background: transparent url(../images/resources/meat_medium.png) no-repeat left center;
}

.top-panel span.ironores {
	background: transparent url(../images/resources/ironores_medium.png) no-repeat left center;
}

.top-panel span.weapons {
	background: transparent url(../images/resources/weapons_medium.png) no-repeat left center;
}

.top-panel span.bread {
	background: transparent url(../images/resources/bread_medium.png) no-repeat left center;
}

.top-panel span.salt {
	background: transparent url(../images/resources/salt_medium.png) no-repeat left center;
}

.top-panel span.wheat {
	background: transparent url(../images/resources/wheat_medium.png) no-repeat left center;
}

.top-panel span.wood {
	background: transparent url(../images/resources/wood_medium.png) no-repeat left center;
}

.top-panel span.iron {
	background: transparent url(../images/resources/iron_medium.png) no-repeat left center;
}

.top-panel span.cattle {
	background: transparent url(../images/resources/cattle_medium.png) no-repeat left center;
}

footer .do-trades {
	background: transparent url(../images/ui/diplomacy.png) no-repeat;
}

footer .do-storage {
	background: transparent url(../images/ui/storage.png) no-repeat;
}

footer .do-build {
	background: transparent url(../images/ui/building.png) no-repeat;
}

footer .do-advisor {
	background: transparent url(../images/ui/advisor.png) no-repeat;
}

footer .do-worldmap {
	background: transparent url(../images/ui/worldmap.png) no-repeat;
}

footer .do-rankings {
	background: transparent url(../images/ui/rankings.png) no-repeat;
}

footer .do-options {
	background: transparent url(../images/ui/options.png) no-repeat;
}

footer .do-restart {
	background: transparent url(../images/ui/restart.png) no-repeat;
}

footer .do-help {
	background: transparent url(../images/ui/help.png) no-repeat;
}

.panel .footer .btn.start {
	background: transparent url(../images/ui/icon_start_production.png) no-repeat;
}

.panel .footer .btn.pause {
	background: transparent url(../images/ui/icon_stop_production.png) no-repeat;
}

.panel header .btn.close {
	background: transparent url(../images/ui/close.png) no-repeat;
}

.panel .footer .btn.demolish {
	background: transparent url(../images/ui/icon_demolish.png) no-repeat;
}

.panel .footer .btn.upgrade {
	background: transparent url(../images/ui/icon_upgrade.png) no-repeat;
}

.panel .footer .btn.help {
	background: transparent url(../images/ui/icon_help.png) no-repeat;
	float: right;
	margin-right: 0;
}

.panel .worldmap {
	width: 972px;
	height: 657px;
	background: transparent url(../images/ui/worldmap.jpg) no-repeat;
	position: relative;
}

.panel .worldmap .city {
	position: absolute;
	width: 40px;
	height: 40px;
	background: transparent url(../images/ui/city.png) no-repeat;
	cursor: pointer;
}

.panel .worldmap .city.your {
	position: absolute;
	width: 40px;
	height: 40px;
	background: transparent url(../images/ui/yourcity.png) no-repeat;
	cursor: pointer;
}

.game {
	background: #000 url(../images/ui/citymap.jpg) no-repeat;
}
