/* Top panel with resources */

.top-panel span.coins {
	background: transparent url(../images/ui/topbar/coins.png) no-repeat left center;
}

.top-panel span.stones {
	background: transparent url(../images/ui/topbar/stones.png) no-repeat left center;
}

.top-panel span.woodplanks {
	background: transparent url(../images/ui/topbar/woodplanks.png) no-repeat left center;
}

.top-panel span.meat {
	background: transparent url(../images/ui/topbar/meat.png) no-repeat left center;
}

.top-panel span.wheat {
	background: transparent url(../images/ui/topbar/wheat.png) no-repeat left center;
}

.top-panel span.ironores {
	background: transparent url(../images/ui/topbar/ironores.png) no-repeat left center;
}

.top-panel span.weapons {
	background: transparent url(../images/ui/topbar/weapons.png) no-repeat left center;
}

.top-panel span.bread {
	background: transparent url(../images/ui/topbar/bread.png) no-repeat left center;
}

.top-panel span.wood {
	background: transparent url(../images/ui/topbar/wood.png) no-repeat left center;
}

.top-panel span.iron {
	background: transparent url(../images/ui/topbar/iron.png) no-repeat left center;
}

.top-panel span.cattle {
	background: transparent url(../images/ui/topbar/cattle.png) no-repeat left center;
}

/* Bottom panel with game actions */

footer .do-trades {
	background: transparent url(../images/ui/toolbar/trades.png) no-repeat;
}

footer .do-storage {
	background: transparent url(../images/ui/toolbar/storage.png) no-repeat;
}

footer .do-build {
	background: transparent url(../images/ui/toolbar/buildings.png) no-repeat;
}

footer .do-council {
	background: transparent url(../images/ui/toolbar/council.png) no-repeat;
}

footer .do-worldmap {
	background: transparent url(../images/ui/toolbar/worldmap.png) no-repeat;
}

footer .do-ranks {
	background: transparent url(../images/ui/toolbar/ranks.png) no-repeat;
}

footer .do-help {
	background: transparent url(../images/ui/toolbar/help.png) no-repeat;
}

.panel header .btn.close {
	background: transparent url(../images/ui/close.png) no-repeat;
}

.panel .footer .btn.start {
	background: transparent url(../images/ui/icon_start_production.png) no-repeat;
}

.panel .footer .btn.pause {
	background: transparent url(../images/ui/icon_stop_production.png) no-repeat;
}

.panel .footer .btn.demolish {
	background: transparent url(../images/ui/icon_demolish.png) no-repeat;
}

.panel .footer .btn.resources {
	background: transparent url(../images/ui/icon_resources.png) no-repeat;
}

.panel .footer .btn.upgrade {
	background: transparent url(../images/ui/icon_upgrade.png) no-repeat;
}

.panel .worldmap .army {
	background: transparent url(../images/ui/army.png) no-repeat;
}

.panel .worldmap .battle.b2 {
	background: transparent url(../images/ui/battle2.png) no-repeat;
}

.panel .worldmap .battle.b3 {
	background: transparent url(../images/ui/battle3.png) no-repeat;
}

.panel .worldmap .caravan {
	background: transparent url(../images/ui/caravan.png) no-repeat;
}

.panel .worldmap .spy {
	background: transparent url(../images/ui/spy.png) no-repeat;
}

.panel .worldmap .settlement.v1 {
	background: transparent url(../images/ui/settlement1.png) no-repeat;
}

.panel .worldmap .settlement.c1 {
	background: transparent url(../images/ui/city1.png) no-repeat;
}

.panel .worldmap .settlement.c2 {
	background: transparent url(../images/ui/city2.png) no-repeat;
}

.panel .worldmap .settlement.c3 {
	background: transparent url(../images/ui/city3.png) no-repeat;
}

.panel .worldmap .settlement.c4 {
	background: transparent url(../images/ui/city4.png) no-repeat;
}

.panel .worldmap .settlement.c5 {
	background: transparent url(../images/ui/city5.png) no-repeat;
}

.panel .worldmap .settlement.c6 {
	background: transparent url(../images/ui/city6.png) no-repeat;
}

.panel .worldmap .settlement.c7 {
	background: transparent url(../images/ui/city7.png) no-repeat;
}

.game {
	background: #000 url(../images/ui/citymap.jpg) no-repeat;
}

.panel .worldmap.w1 {
	background: transparent url(../images/world/worldmap1.png) no-repeat;
}

.panel .worldmap.w2 {
	background: transparent url(../images/world/worldmap2.png) no-repeat;
}

.panel .worldmap.w3 {
	background: transparent url(../images/world/worldmap3.png) no-repeat;
}

.panel .worldmap.w4 {
	background: transparent url(../images/world/worldmap4.png) no-repeat;
}

.game .building .notification.error {
	background: transparent url(../images/ui/error_small.png) no-repeat;
}

.game .building .notification.paused {
	background: transparent url(../images/ui/pause_small.png) no-repeat;
}

#window-options .save-slots li span.load {
	background: transparent url(../images/ui/icon_back.png) no-repeat center;
}

#window-options .save-slots li span.save {
	background: transparent url(../images/ui/icon_start_production.png) no-repeat center;
}

#window-options .save-slots li span.delete {
	background: transparent url(../images/ui/icon_demolish.png) no-repeat center;
}

.ach.img {
	background: transparent url(../images/ui/icon_achievement.png) no-repeat;
}

.res.img {
	background: transparent url(../images/ui/icon_research.png) no-repeat;
}

.scrollbar .up {
	background: transparent url(../images/ui/up.png) no-repeat;
}

.scrollbar .down {
	background: transparent url(../images/ui/down.png) no-repeat;
}

.loading {
	background: transparent url(../images/ui/loading.svg) no-repeat;
}

.ui .console {
	background: transparent url(../images/ui/console.jpg) no-repeat;
}

.notifications .notty .hide,
.achievements-notifications .notty .hide {
	background: transparent url(../images/ui/close.png) no-repeat;
}

.ui > header {
	background: transparent url(../images/ui/header.png) no-repeat;
}

.ui > footer {
	background: transparent url(../images/ui/bottom.png) no-repeat;
}

.panel ul.advices li {
	background: transparent url(../images/ui/check.png) no-repeat left top;
}

.religion-list .religion {
	background: transparent url(../images/ui/religion.png) no-repeat center;
}
