/* Windows */

.window {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	z-index: 99999;
	background: #45484d;
	background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, #000 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%, #000 100%);
	background: radial-gradient(ellipse at center, #45484d 0%, #000 100%);
	opacity: 1;
}

.window .logo {
	margin: 3% auto 0 auto;
	width: 300px;
	text-align: center;
	font-size: 62px;
}

.window fieldset > p {
	font-size: 12px;
}

.window ul {
	margin-left: 20px;
}

.window .about-game,
.window .options-game {
	position: relative;
	display: none;
	padding: 10px 0;
	margin: 0;
}

.window li > a,
.window p > a {
	text-decoration: underline;
}

.window .ui-tabs-panel > div {
	padding: 20px;
}

.window .tabs ul li a {
	text-decoration: none;
}

.window .tabs ul li.ui-tabs-active {
	background-color: #777;
}

.window .tabs > div {
	border: 1px solid #777;
}

.window fieldset {
	margin: 20px auto 0 auto;
	width: 360px;
	border: 0;
}

.window input[type=password],
.window input[type=text],
.window select {
	border: 1px solid #908c68;
	background: transparent;
	color: #fff;
	padding: 5px 10px;
	font-size: 14px;
}

.window select {
	width: 122px;
}

.window input[type=password],
.window input[type=text] {
	width: 100px;
}

.window .button {
	display: block;
	margin-top: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	-webkit-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	-moz-text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	color: #fff;
	border: 1px solid #908c68;
	background-color: #a9a588;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a9a588), to(#8e865b));
	background-image: -webkit-linear-gradient(top, #a9a588, #8e865b);
	background-image: -moz-linear-gradient(top, #a9a588, #8e865b);
	background-image: linear-gradient(to bottom, #a9a588, #8e865b);
	text-transform: uppercase;
	text-align: center;
}

.window .button:hover {
	border: 1px solid #767255;
	background-color: #938e6b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#938e6b), to(#6f6947));
	background-image: -webkit-linear-gradient(top, #938e6b, #6f6947);
	background-image: -moz-linear-gradient(top, #938e6b, #6f6947);
	background-image: linear-gradient(to bottom, #938e6b, #6f6947);
}

.window .avatar-select {
	width: 64px;
	height: 64px;
	overflow: hidden;
}

.window dt {
	line-height: 28px;
}

.window dl {
	width: 360px;
}

.window .avatar-select-container {
	position: relative;
}

.window .avatar-select-container .scrollbar {
	position: absolute;
	right:40px;
	top: 8px;
}
